* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.filmimage-left {
    width: 50%;
    height: auto;
}

.filmimage-middle {
    width: 60%;
    height: auto;
}

.logo {
    width: 30%;
}

.col-left {
    text-align:center;
    width: 30%;
    float: left;
    padding: 15px;
    vertical-align: middle;
}

.col-middle {
    width: 40%;
    float: left;
    padding: 15px;
}

.col-right {
    width: 30%;
    float: left;
    padding: 15px;
}

.programs-historic {
    text-align: center;
}

#agelimit-image {
    width: 20%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-left {
        display: none;
    }

    .col-right {
        display: none;
    }

    .programs-historic {
        display: none;
    }

    .filmimage-middle,
    .logo {
        width: 100%;
    }
}