* {
    box-sizing: border-box;
    font-family: Verdana;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.filmimage-left {
    width: 50%;
    height: auto;
}

.filmimage-middle {
    width: 100%;
    height: auto;
}

.logo {
    width: 30%;
}

.col-left {
    text-align: center;
    width: 30%;
    float: left;
    padding: 15px;
    vertical-align: middle;
}

.col-middle {
    width: 40%;
    float: left;
    padding: 15px;
}

.col-right {
    width: 30%;
    float: left;
    padding: 15px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.film-details {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
}

.main-header-text {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: red;
}

.film-name-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.film-description-header {
    font-size: medium;
    font-weight: bold;
}

.film-description-text {
    font-size: small;
}

.contact-link {
    color: blue;
}

.highlight-text {
    color:red;
    font-weight: bold;
}

.links-row {
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.membership-info {
    text-align: center;
    font-size: small;
}

.program-current-link {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.programs-historic {
    text-align: center;
    font-size: small;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.font-verdana {
    font-family: Verdana;
}

.font-helvetica {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.font-bold {
    font-weight: bold;
}

.font-size-small {
    font-size: small;
}

.font-size-xsmall {
    font-size: x-small;
}

.font-size-medium {
    font-size: medium;
}

.font-size-large {
    font-size: large;
}

#agelimit-image {
    width: 20%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-left {
        display: none;
    }

    .col-right {
        display: none;
    }

    .filmimage-middle,
    .logo {
        width: 100%;
    }
}